{% extends "template_ui.html" %}

{% block body_content %}
  <ul class="nav nav-tabs nav-justified">
    <li><a href="{{prefix}}/about">about</a></li>
    <li class="active"><a href="#">my team</a></li>
    <li><a href="{{prefix}}/scores">fantasy scores</a></li>
    <li><a href="{{prefix}}/medals">medal count</a></li>
  </ul>

  <br>

  {% for message in messages %}
  <div class="alert {{message.1}} text-center">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{message.0}}
  </div>
  {% endfor %}

  {% if not season_active %}
    <form class="form-horizontal" role="form" method="post" action="{{prefix}}/team">
      <input type="hidden" name="{{xsrf_key}}" value="{{xsrf_value}}">
      <div class="form-group">
        <label for="team-manager" class="col-sm-2 control-label">manager name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="team-manager" maxlength="40" name="manager" {% if team %}value="{{team.manager}}"{% else %}placeholder="my manager name"{% endif %}><span class="help-block">this is the name displayed with your team; it is the <b>only</b> identification of team ownership</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">country selection (choose 5 and limit $100)</label>
        <div class="col-sm-10">
          <div class="checkbox">
            <table class="table table-hover">
              <thead>
                <th></th>
                <th>cost</th>
                <th>country</th>
                <th>athletes</th>
              </thead>
              {% for idx in countries.keys() %}
              <tr {% if team and idx in team.countries %}class="active"{% endif %}>
                <td><input type="checkbox" name="countries" value="{{idx}}" {% if team and idx in team.countries %}checked="checked"{% endif %}></td>
                <td>{{"{:2.2f}".format(countries[idx]['cost'])}}</td>
                <td>{{countries[idx]['name']}}</td>
                <td>{{countries[idx]['athletes']}}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">update</button>
        </div>
      </div>
    </form>
  {% else %}
    {% if team %}
      <div class="alert alert-info text-center">
        Fantasy season is active. Rosters are locked; however, you may update your manager name.
      </div>

      <form class="form-horizontal" role="form" method="post" action="{{prefix}}/team">
        <input type="hidden" name="{{xsrf_key}}" value="{{xsrf_value}}">
        <div class="form-group">
          <label for="team-manager" class="col-sm-2 control-label">manager name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="team-manager" maxlength="40" name="manager" {% if team %}value="{{team.manager}}"{% else %}placeholder="my manager name"{% endif %}><span class="help-block">this is the name displayed with your team; it is the <b>only</b> identification of team ownership</span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">update</button>
          </div>
        </div>
      </form>
    {% else %}
      <div class="alert alert-danger text-center">
        Fantasy season is active. No new teams can be created.
      </div>
    {% endif %}
  {% endif %}
{% endblock %}
